---
import Image from "astro/components/Image.astro";
import Container from "../components/Container.astro";
import Layout from "../layouts/Layout.astro";
import blob from "../assets/blobc5.svg";
import { webLinks, webEntryLinks, pekLinks } from "../../utils/links";

const linkColors = ["bg-white", "bg-white", "bg-white", "bg-white"];
const linkIcons = [
  "fa-solid fa-arrow-up-right-from-square",
  "fa-solid fa-arrow-up-right-from-square",
  "fa-solid fa-arrow-up-right-from-square",
  "fa-solid fa-arrow-up-right-from-square",
];
---

<Layout title="Web Entry | SIMPONI">
  <main
    id="web-entry"
    class="flex relative justify-center items-center py-8 px-4 border-b-2 border-bpsRed lg:py-24"
  >
    <Image
      src={blob}
      alt="Gambar Background"
      class="object-cover object-center absolute w-full h-full opacity-50 -z-10"
    />
    <Container>
      <div class="flex flex-col gap-8 justify-between items-center lg:flex-row">
        <div class="flex flex-col gap-16 w-full">
          <div class="flex flex-col gap-8 justify-between lg:flex-row">
            <h1
              class="text-5xl font-bold leading-tight text-center text-bpsDarkBlue lg:text-start"
            >
              Web Entry
            </h1>
          </div>
          <div class="flex flex-col">
            <div
              class="grid grid-cols-1 gap-4 justify-center items-center text-white sm:grid-cols-2"
            >
              {
                webEntryLinks.map((link, i) => {
                  return (
                    <a
                      href={link.href}
                      target="_blank"
                      class:list={[
                        "w-full rounded-xl border border-bpsDarkBlue border-b-8 p-10 flex justify-between items-center hover:bg-bpsDarkBlue/20 gap-4 truncate",
                        [linkColors[i]],
                      ]}
                    >
                      <div class="flex flex-col gap-2 truncate">
                        <p class="text-xl font-bold truncate text-bpsDarkBlue">
                          {link.name}
                        </p>
                        <p class="text-gray-600 truncate">{link.href}</p>
                      </div>
                      <i class={`${linkIcons[i]} text-bpsDarkBlue text-xl`} />
                    </a>
                  );
                })
              }
            </div>
            <div class="flex justify-between mt-8">
              <a
                href={webLinks[3].href}
                class="font-bold text-gray-600 underline hover:text-gray-600/80"
                ><i class="fa-solid fa-arrow-left"></i> {webLinks[3].name}</a
              >
              <a
                href={webLinks[0].href}
                class="font-bold text-gray-600 underline hover:text-gray-600/80"
                >{webLinks[0].name} <i class="fa-solid fa-arrow-right"></i></a
              >
            </div>
          </div>
        </div>
      </div>
    </Container>
  </main>
</Layout>
